In [1]:
print('hola mundo')

hola mundo

In [2]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [3]:
s = slice(1,4)
s

slice(1, 4, None)

In [4]:
a[1:4]

[2, 3, 4]

In [5]:
a[s]

[2, 3, 4]

In [6]:
a

[1, 2, 3, 4, 5]

In [7]:
b = (1,2,3)
b,type(b)

((1, 2, 3), tuple)

In [9]:
a=1
a,type(a)

(1, int)

In [11]:
a= [10,20,30,40]
b,c,d,e=a

In [12]:
b, type(b)

(10, int)

In [13]:
a=10
b=5
a,b = b,a
print(a,b)

5 10

In [14]:
my_set = {'p','y','t','h','o','n'}
a,b,c,d,e,f = my_set
my_set

{'h', 'n', 'o', 'p', 't', 'y'}

In [15]:
c= [10,20,30,40]
a,*b=c
a,b,c

(10, [20, 30, 40], [10, 20, 30, 40])

In [19]:
def my_func(a,b,c):
    print(a+2,b**3,c//4)
valores=20,50,210
valores

(20, 50, 210)

In [20]:
my_func(*valores)

22 125000 52

In [21]:
s = slice(1,4)#1:4
longitud=2#[1,2]
s.indices(longitud)

(1, 2, 1)